@use '../../index';

.container_post {
  padding: 2rem;
  max-width: 600px;
  margin: auto;
}

.title {
  text-align: center;
  margin: 2rem auto;
  text-transform: uppercase;
  font-size: index.$h2;
}

.card {
  padding: 2rem 3rem;
  background-color: index.$white-color;
  border-radius: 10px;
  box-shadow: index.$shadow;

  h4 {
    margin: 1rem 0;
  }

  .title_body {
    text-align: left;
    font-family: index.$font-h3;
    font-weight: 500;
  }

  // .card_btn_info {
  //   border: 2px solid red;
  //   margin: 3rem auto;
  //   align-items: center;
  //   justify-content: center;
  // }

  // button {
  //   background-color: index.$primary-color;
  //   color: index.$white-color;
  //   border: none;
  //   padding: 1rem 1.5rem;
  //   width: 150px;
  //   border-radius: 8px;
  //   font-weight: bold;
  //   font-size: index.$p;
  //   cursor: pointer;
  // }
}

.btn {
  margin-top: 2rem;

  @media screen and (max-width: 500px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// button:hover {
//   background-color: index.$active-color;
//   color: index.$primary-color;
// }

.backhome {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-left: 3rem;

  @media screen and (max-width: 500px) {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .title_body h2,
  h3 {
    text-align: center;
  }
}
