@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Serif+Display:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #f3fafa;
}

.text-balance {
  text-wrap: balance;
}
