@use '../../index';

.container {
  max-width: 1024px;
  margin: 4rem auto;

  .not_found {
    text-align: center;
    margin-top: 5rem;
    font-family: index.$font-h2;
    font-size: index.$h2;
  }

  .card {
    max-width: 500px;
    background-color: index.$white-color;
    padding: 1rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      text-align: center;
      margin: 1rem 0;
      font-family: index.$font-h4;
      font-size: index.$h4;
    }
    p {
      text-align: center;
      margin: 1rem 0;
      font-family: index.$font-p;
      font-size: index.$p;
    }

    @media screen and (max-width: 500px) {
      max-width: 80%;
    }
  }

  .backhome {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 3rem;

    a {
      color: index.$primary-color;
      text-decoration: underline;
    }

    p:hover {
      scale: 1.1;
      font-weight: bold;
    }

    @media screen and (max-width: 500px) {
      padding-left: 1rem;
    }
  }
}

.info {
  text-align: center;
  margin-top: 6rem;
  font-size: index.$h4;
  font-family: index.$font-h4;
}

.btn {
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  background-color: index.$primary-color;
  color: index.$white-color;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.btn:hover {
  scale: 1.1;
  background-color: index.$primary-color;
  color: index.$white-color;
}
