.recipeList {
    width: 60rem;
    margin: 6rem 17rem 2rem auto;
    transition: transform 0.3s ease-in-out;
}

.userMessage {
    margin: auto;
    font-size: 2rem;
    color: #f42f26;
    text-align: center;
}

.hidden~.recipeList {
    transform: translateX(-18%);
}