.navigation {
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 0 1.4rem 0 1.4rem;
  border-bottom: 0.5px solid #ddd;
  font-size: 1.4rem;

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      font-size: 1.4rem;
      padding: 1.4rem;
    }
  }
}
