.unordered-list {
  height: 90vh;
  width: 93%;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.unordered-list li {
  max-height: 15rem;
  overflow: scroll;
}
