.unordered-list {
  height: 90vh;
  width: 90%;
  background: #14192a;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin: 5rem auto;
  padding: 1rem;
  overflow: scroll;
}

.unordered-list li {
  margin: 1rem 0;
}
