.navBar {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 0px 18px #d0d0d0;
    align-items: center;
}

.leftElems {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.leftElems button {
    border-width: 0;
    background: #ffffff;
    font-size: 1.2rem;
}

.logoButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.1rem 1.2rem 0.1rem 1.2rem;
}

.logoButton:hover {
    transform: none;
}

.logoImg {
    margin-left: 1rem;
    width: 2rem;
    margin: 0 1rem 0 0.5rem;
}

.navigationMenu {
    display: flex;
    align-items: center;
}

.rightElems {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.rightElems button {
    margin-right: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}