.card:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}


.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1.5rem auto;
    top: 5rem;
    height: 16rem;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 18px #d0d0d0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform 0.3s ease-in-out;
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cardLeft {
    display: flex;
    width: 33%;
    height: 80%;
    margin-top: 1rem;
    margin-left: -3.8rem;
    text-align: center;
    justify-content: flex-start;
    text-align: center;
    justify-content: center;
}

.dishImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;

}

.cardCenter {
    margin-top: -1.7rem;
    width: 33%;
    height: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: -2.8rem;
}

.dishOverview {
    margin-bottom: .5rem;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 1rem;

}

.dishOverview>h2 {
    margin-bottom: .1rem;
}

.dishIngredients {
    width: 25rem;
    color: #9e9a9a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -.5rem;
}




.dishType,
.dishRating {
    font-size: 1.1rem;
}



.dishIngredient {
    margin-right: 1rem;
    margin-bottom: -.5rem;
}

.dishTags {
    width: 100%;
    display: flex;
    flex-direction: row;

}

.tag {
    margin-right: .5rem;
    margin-top: -.5rem;
    background-color: #ffffff;
    border-width: 2px;
}

.cardRight {
    width: 33%;
    height: 80%;
    margin: .5rem 1.5rem;
    text-align: right;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviewsBlock {
    margin-top: -.5rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 2rem;
}

.dishRating {
    margin-bottom: -.5rem;
}

.numberOfReviews {
    color: #9e9a9a;
    margin-top: .8rem;
    font-size: .9rem;
}

.reviewsText {
    margin-right: -.4rem;
}

.reviewsVote {
    margin: 1.5rem 0 0 1rem;
}


.callToActionButton {
    padding: .7rem 4rem .7rem 4rem;

}

/* SMALL SCREENS */
@media only screen and (max-width: 1356px) {
    .dishImg {
        width: 11rem;
        height: 11rem;
    }

    .cardCenter {
        margin-left: -2rem;
    }
}

@media only screen and (max-width: 1056px) {


    .card {
        display: flex;
        flex-direction: column;
        height: 44rem;
        width: 90%;
    }

    .cardContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cardLeft {
        width: 80%;
        height: 80%;
        margin: 5rem auto 0 auto;
    }

    .dishImg {
        width: 15rem;
        height: 15rem;

    }


    .cardCenter {
        margin: -.5rem auto 0 auto;
        width: 80%;
        height: 30%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    .dishOverview {
        text-align: left;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    }

    .dishIngredients {
        width: 90%;
    }


    .cardRight {
        width: 80%;
        height: 80%;
        margin: 5rem auto;
        text-align: left;
        flex-direction: column;
    }

    .reviewsBlock {
        margin-top: -.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 2rem;
    }


    .reviewsVote {
        display: none;
    }

    .numberOfReviews {
        display: none;

    }

    .actionBlock {
        margin: 0 auto 0 auto;
    }




    .dishDifficulty {
        display: none;
    }

    .callToActionButton {
        padding: .7rem 4rem .7rem 4rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 2.5rem;
        margin: 0 auto 0 auto;
    }

}

@media only screen and (max-width: 500px) {
    .card {
        display: flex;
        flex-direction: column;
        height: 44rem;
        width: 80%;

    }

    .dishOverview {
        text-align: left;
        height: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
    }


}

@media only screen and (min-width: 2000px) {


    .card {
        height: 18rem;
        width: 100%;
    }

    .cardLeft {
        width: 20%;
        height: 80%;
        margin: 0 auto 0 auto;
    }

    .cardCenter {
        margin-left: auto;
        margin-right: 5rem;
    }

    .dishImg {
        width: 15rem;
        height: 15rem;
    }
}