// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  cursor: pointer;
}

.btn-orange {
  background-color: orangered;
  border-color: orangered;
  color: white;
}
